.NYCSchools {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0;
}
.schools {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.school {
    width: 375px;
    min-height: 500px;
    border: solid 1px #cccccc;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 15px;
}

.card-wrapper {
    padding: 10px;
}

.schools span {
    color: red;
}
